body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h1 {
    color: #ff6347;
    text-align: center;
}

p {
    color: #333333;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
}

img {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.border-box {
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #ff6347;
    background-color: #fff0f5;
    text-align: center;
}
